# Python
__pycache__/
*.py[cod]
.venv/
venv/
backend/venv/

# Django
*.sqlite3
db.sqlite3
backend/media/items/

# Node
node_modules/
frontend/node_modules/

# Build outputs
dist/
build/

# Environment files
.env
.env.*

# OS/editor
.DS_Store
.vscode/
