[Unit]
Description=ggultem gunicorn
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/workspace/ggultem/backend
EnvironmentFile=/root/workspace/ggultem/backend/.env.production
ExecStart=/root/workspace/ggultem/backend/venv/bin/python -m gunicorn config.wsgi:application --bind 127.0.0.1:8000
Restart=always

[Install]
WantedBy=multi-user.target
